<!DOCTYPE html>
<html lang="en">
<head>
  <title>Email Your Hours -- Log your work hours and send email to your supervisor.</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
</head>

<body>
<!--Head Navbar-->
<nav class="navbar navbar-dark bg-inverse">
  <a class="navbar-brand" href="#"><b>Email Your Hours</b></a>
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact</a>
    </li>
  </ul>
</nav>

<div id="timeListApp" class="container">
  <h1 class="display-3">Log Your Hours</h1>
  <hr class="my-1">
  <form class="form-inline" action="index.html" method="post">
    <div class="form-group" :class="{'has-danger': !validation.day || !validation.validDay}">
      <label class="form-control-label" for="Date" class="lead"><b>Date</b></label>
      <select v-model="day" class="form-control lead" name="weekdays">
        <option v-for="weekday in weekdays" class="lead">
          {{ weekday.text }}
        </option>
      </select>
      <div class="form-control-feedback" v-show="!validation.day">
        Select a day.
      </div>
      <div class="form-control-feedback" v-show="!validation.validDay">
        Selected day already has an entry.
      </div>
    </div>
  </form>
  <br>
  <div class="row">
    <div class="form-group col-sm-6" :class="{'has-danger': !validation.startTime}">
      <label class="form-control-label" for="startTime"><b>Start</b></label>
      <input v-model="startTime" type="time" class="form-control lead" name="Start Time">
      <div class="form-control-feedback" v-show="!validation.startTime">
        Enter a valid time.
      </div>
    </div>
    <div class="form-group col-sm-6" :class="{'has-danger': !validation.endTime}">
      <label class="form-control-label" for="endTime"><b>End</b></label>
      <input v-model="endTime" type="time" class="form-control lead" name="End Time">
      <div class="form-control-feedback" v-show="!validation.endTime">
        Enter a valid time.
      </div>
    </div>
  </div>
  <button v-on:click="addTimeSlot" type="submit" name="submitButton" class="btn btn-success">
    Log Hours
  </button>
  <br><br>
  <table class="table table-striped">
    <thead class="thead-inverse">
      <tr>
        <th>Day</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Total Work Time</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="timeSlot in timeSlots">
        <th scope="row">{{timeSlot.day}}</th>
        <td>{{timeSlot.start}}</td>
        <td>{{timeSlot.end}}</td>
        <td>{{timeSlot.totalHours}} Hours</td>
        <td><button type="button" name="delete" class="btn btn-danger btn-sm">Detele</button></td>
      </tr>
    </tbody>
</table>
</div>

<!--Vue.js support-->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="../EmailHoursWebApp/main.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
</body>
</html>
